.mixin.out/
astralsorcery/
backups/
coremods/
crafttweaker_dump/
crash-reports/
journeymap/
local/
logs/
mods/
openvr/
orbis/
prestige/
resourcepacks/
saves/
screenshots/
shaderpacks/
texturepacks/
.curseclient
BotaniaVars.dat
crafttweaker.log
dropt.log
patchouli_data.json
textures_0.png
textures_1.png
textures_2.png
textures_3.png
textures_4.png
usercache.json
usernamecache.json
