# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:AETHER_LEGENDARY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:AETHER_NEPTUNE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:AETHER_PHOENIX=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:AETHER_VALKYRIE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:BIXBITE=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:B_ELEMENTIUM=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:CARNELIAN=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:CHALCEDONY=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:CORRUPT=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:CULTIST_LEADER=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_PLATE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_ROBE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:DIOPSIDE=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:FORTRESS=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:GAIA_CHAMP=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9
    I:InfusedObsidian=10
    I:KASAIARMOUR=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:LARVAKITE=20
    I:LATHARIUMARMOR=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:LEUCITE=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:MALACHITE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANASTEEL=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANAWEAVE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURAINFUSED_IRON=16
    I:ORACLE=9
    I:PENDORITEARMOUR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:PROUSTITE=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:RAGNAROK.ECLIPSE=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:RAGNAROK.FENRIS=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:RAGNAROK.SUNMAKER=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SPECIAL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:SPINEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:SUGILITE=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:SYLVAN=20
    I:TAMRELITEARMOUR=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:THAUMIUM=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:TIGER_EYE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:TSAVORITE=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOIDROBE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:WILDWOOD=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ZIRCON=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:armor_material_rockshroom=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:armor_material_tenebrum=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:armour_dragon=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:armour_helmet=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:armour_helmet_d=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:armour_obsidian=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:bl_cloth=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:cold_iron=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:ashen_cloak"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:hat_material=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:legend=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:lurker_skin=0
    I:magical=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:mysticIron=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:robes_cultist=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:rubber=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:silver=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:slimy_bone=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:soulsteel=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:syrmorite=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:valonite=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:winter=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:witches=20
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:AETHER_ARKENIUM=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:AETHER_GRAVITITE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:AETHER_HOLYSTONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:AETHER_LEGENDARY=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:AETHER_SKYROOT=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:AETHER_ZANITE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:AGATE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BENITOITE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:BIXBITE=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:B_ELEMENTIUM=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:CARNELIAN=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:CHALCEDONY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:CORRUPT=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:CVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:EUCLASE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:GAIA_CHAMP=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:IXIOLITE=10
    I:KASAIPICKAXE=10
    I:KASAISHOVEL=10
    I:KASAISWORD=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:LARVIKITE=20
    I:LATHARIUMAXE=8
    I:LATHARIUMBATTLEAXE=8
    I:LATHARIUMHOE=2
    I:LATHARIUMPICKAXE=8
    I:LATHARIUMSHOVEL=8
    I:LATHARIUMSWORD=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MALACHITE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:MANASTEEL=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MANASTEEL_GLASS=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURA_INFUSED_IRON=16
    I:PENDORITEAXE=15
    I:PENDORITEBATTLEAXE=15
    I:PENDORITEHOE=2
    I:PENDORITEPICKAXE=15
    I:PENDORITESHOVEL=15
    I:PENDORITESWORD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:PRIMALVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:RAGNAROK.FLAREBRINGER=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:RAGNAROK.SHADOWBREAKER=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:SPINEL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:SUGILITE=10
    I:TAMRELITEAXE=8
    I:TAMRELITEBATTLEAXE=8
    I:TAMRELITEHOE=2
    I:TAMRELITEPICKAXE=8
    I:TAMRELITESHOVEL=8
    I:TAMRELITESWORD=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:THAUMIUM=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:THAUMIUM_ELEMENTAL=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:TIGER_EYE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:TSAVORITE=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ZIRCON=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:bone=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:bound=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:cold_iron=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:demonic=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:dentrothyst=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"embers:aluminum"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"embers:bronze"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:clockworkAxe"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:clockworkPickaxe"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"embers:copper"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:dawnstone"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"embers:electrum"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:grandhammer"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 4]
    I:"embers:lead"=4

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:nickel"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"embers:silver"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"embers:tin"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:"embers:tyrfing"=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:hammer_heat=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 72]
    I:immolation=72

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:inspirations.blaze=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:inspirations.bone=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:inspirations.wither=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:legend=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:loot=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:material_ebonys=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:material_nagrilite=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:material_nightstone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:material_shadowroot=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:material_tenebrum=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:mysticIron=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"mysticalworld:amethyst"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"mysticalworld:copper"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"mysticalworld:silver"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:octine=0
    I:scepter=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:silver=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:"soot:eitr"=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:soulsteel=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:sword_ice=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:syrmorite=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:tool_end=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:tool_endorium=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:tool_hammer=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:tool_magnifier=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:tool_wolframium=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:valonite=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:weedwood=0
    I:xpDiamond=12
    I:xpIron=16
}


