# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:BrainyZombie=true
    B:CaveSpider=true
    B:Creeper=false
    B:CultistCleric=false
    B:CultistKnight=false
    B:CultistLeader=false
    B:CultistPortalGreater=false
    B:CultistPortalLesser=false
    B:ElderGuardian=false
    B:EldritchCrab=false
    B:EldritchGolem=false
    B:EldritchGuardian=false
    B:EldritchWarden=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Firebat=false
    B:Ghast=false
    B:Giant=false
    B:GiantBrainyZombie=true
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:InhabitedZombie=true
    B:JungleSpider=true
    B:LavaSlime=false
    B:Lizardman=false
    B:LizardmanStalker=false
    B:LizardmanWitchDoctor=false
    B:MindSpider=true
    B:MistSpider=true
    B:Pech=false
    B:PigZombie=false
    B:SacSkel=true
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spellbat=false
    B:Spider=true
    B:StoneGolem=false
    B:Stray=true
    B:SwampCrab=false
    B:TaintCrawler=false
    B:TaintSeed=false
    B:TaintSeedPrime=false
    B:TaintSwarm=false
    B:Taintacle=false
    B:TaintacleGiant=false
    B:TaintacleTiny=false
    B:ThaumSlime=false
    B:Vex=false
    B:VindicationIllager=false
    B:Wendigo=false
    B:Wisp=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:aerwhale=false
    B:aether.aechor_plant=false
    B:aether.cockatrice=false
    B:aether.swet=false
    B:aether.tempest=false
    B:aether.varanys=false
    B:ancient_golem=false
    B:angry_enderman=false
    B:bewitchment.black_dog=false
    B:bewitchment.demon=false
    B:bewitchment.demoness=false
    B:bewitchment.hellhound=false
    B:bewitchment.imp=false
    B:bewitchment.serpent=false
    B:"botania:pinkWither"=false
    B:"charm:spectre"=true
    B:chronologist=false
    B:cockatrice=false
    B:ectocloud=false
    B:endguard=false
    B:endlord=false
    B:eyes=false
    B:fire_minion=false
    B:fungalzombie=false
    B:gaiadimension.agate_golem=false
    B:gaiadimension.ancient_lagrahk=false
    B:gaiadimension.archaic_warrior=false
    B:gaiadimension.blue_howlite_wolf=false
    B:gaiadimension.cavern_tick=false
    B:gaiadimension.contorted_naga=false
    B:gaiadimension.corrupt_sapper=false
    B:gaiadimension.howlite_wolf=false
    B:gaiadimension.lesser_shockshooter=false
    B:gaiadimension.lesser_spitfire=false
    B:gaiadimension.malachite_guard=false
    B:gaiadimension.muckling=false
    B:gaiadimension.primal_beast=false
    B:gaiadimension.saltion=false
    B:gaiadimension.shalurker=false
    B:lenny=false
    B:lizardmanskewerer=false
    B:midnight.hunter=false
    B:midnight.nova=false
    B:midnight.penumbrian=false
    B:midnight.rifter=false
    B:midnight.stinger=false
    B:midnight.tree_hopper=false
    B:mimic=false
    B:minion_blaze=false
    B:minion_cave_spider=true
    B:minion_creeper=false
    B:minion_husk=true
    B:minion_skeleton=true
    B:minion_spider=true
    B:minion_stray=true
    B:minion_zombie=true
    B:muse=false
    B:petrifiedspider=false
    B:petrifiedzombie=false
    B:pigman=false
    B:pvj_banshee=false
    B:pvj_ghost=false
    B:pvj_goon=false
    B:pvj_icecube=false
    B:pvj_shade=false
    B:pvj_skeletal_knight=true
    B:pvj_watcher=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:rhinopter=false
    B:sentry=false
    B:silver_thread=false
    B:sun_spirit=false
    B:superdupersaurus=false
    B:theWall=false
    B:thebetweenlands.angler=false
    B:thebetweenlands.blood_snail=false
    B:thebetweenlands.boulder_sprite=false
    B:thebetweenlands.chiromaw=false
    B:thebetweenlands.dark_druid=false
    B:thebetweenlands.dreadful_mummy=false
    B:thebetweenlands.fortress_boss=false
    B:thebetweenlands.fortress_boss_blockade=false
    B:thebetweenlands.fortress_boss_spawner=false
    B:thebetweenlands.fortress_boss_turret=false
    B:thebetweenlands.gas_cloud=false
    B:thebetweenlands.leech=false
    B:thebetweenlands.lurker=false
    B:thebetweenlands.peat_mummy=false
    B:thebetweenlands.pyrad=false
    B:thebetweenlands.silt_crab=false
    B:thebetweenlands.sludge=false
    B:thebetweenlands.smoll_sludge=false
    B:thebetweenlands.spirit_tree_face_large=false
    B:thebetweenlands.spirit_tree_face_small=false
    B:thebetweenlands.swamp_hag=false
    B:thebetweenlands.tamed_spirit_tree_face=false
    B:thebetweenlands.tar_beast=false
    B:thebetweenlands.termite=false
    B:thebetweenlands.wight=false
    B:valkyrie=false
    B:valkyrie_queen=false
    B:wasp=false
    B:watcher=false
    B:whirlwind=false
    B:zephyr=false
}


